* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    background-color: #282a36;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    min-height: 100vh;
}

#tower-image {
    max-width: 90%;

    @media (min-width: 576px) {
        max-width: 70%;
    }

    @media (min-width: 768px) {
        max-width: 50%;
    }

    @media (min-width: 992px) {
        max-width: 40%;
    }

    @media (min-width: 1200px) {
        max-width: 30%;
    }
}

.search-container {
    display: flex;
    justify-content: center;
}

#search-field {
    width: 100%;
    background-color: #f0f0f0;
    padding-left: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;

    @media (min-width: 576px) {
        max-width: 60%;
    }

    @media (min-width: 768px) {
        max-width: 50%;
    }
}

#search-button {
    color: #f0f0f0;
    background-color: #FB542B;
    border-radius: 0px 5px 5px 0px;
}

#search-field:focus, #search-button:focus {
    outline: none;
}

.bookmark-container {
    border: 1px solid;
    border-color: #44475a;
    border-radius: 15px;
    padding: 15px;
    margin: 5px;
}

.header {
    font-size: larger;
    text-decoration: underline;
    color: #f8f8f2;
}

.bookmark {
    color: #f1fa8c;
    text-decoration: none;
}

.bookmark:hover {
    color: #ffb86c;
    text-decoration: underline;
}
